backtest_period:
  end_date: '2025-11-14'
  start_date: '2025-05-14'
capital:
  commission_rate: 0.001
  per_stock: 5000000
data:
  interval: 1min
  refinitiv:
    app_key: 1475940198b04fdab9265b7892546cc2ead9eda6
    use_cache: true
database:
  database: market_data
  host: localhost
  password: postgres
  port: 5432
  user: postgres
logging:
  file_path: Output/trading_system.log
  level: INFO
  to_file: true
orb_strategy:
  entry_window:
    end_time: '11:00'
    start_time: 09:15
  force_exit_time: '15:00'
  open_range:
    end_time: 09:15
    start_time: 09:05
  profit_target: 0.04
  stop_loss: 0.0075
reports:
  currency_format: ¥{:,.0f}
  generate_charts: true
  generate_daily: true
  generate_summary: true
  output_dir: Output
  percentage_format: '{:.2f}%'
stocks:
- - 6762.T
  - TDK
- - 6857.T
  - アドバンテスト
- - 6758.T
  - ソニー
- - 9984.T
  - ソフトバンクグループ
- - 8035.T
  - 東京エレクトロン
- - 6920.T
  - レーザーテック
- - 6146.T
  - ディスコ
- - 285A.T
  - キオクシア
- - 6594.T
  - ニデック
- - 6981.T
  - 村田製作所
- - 6861.T
  - キーエンス
- - 7741.T
  - HOYA
- - 9101.T
  - 日本郵船
- - 9104.T
  - 商船三井
- - 9107.T
  - 川崎汽船
- - 8058.T
  - 三菱商事
- - 8001.T
  - 伊藤忠商事
- - 1605.T
  - INPEX
- - 5401.T
  - 日本製鉄
- - 9433.T
  - KDDI
- - 9432.T
  - NTT
- - 8306.T
  - MUFG
- - 8316.T
  - SMBC
- - 8411.T
  - みずほ
- - 8766.T
  - 東京海上
- - 7203.T
  - トヨタ
- - 7267.T
  - ホンダ
- - 6367.T
  - ダイキン
- - 6506.T
  - 安川電機
- - 6752.T
  - パナソニック
- - 6954.T
  - ファナック
- - 6503.T
  - 三菱電機
- - 5016.T
  - JX金属
- - 5706.T
  - 三井金属
- - 5711.T
  - 三菱マテリアル
- - 5801.T
  - 古河電気工業
- - 5803.T
  - フジクラ
- - 5802.T
  - 住友電気工業
- - 7011.T
  - 三菱重工業
- - 7012.T
  - 川崎重工
- - 7013.T
  - IHI
